body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: black;
  }
  
.container {
    width: 1000px;
    margin: 0 auto;
}

.geo-path {
  fill: #383838;
}

.geo-boundary-path {
  stroke: #fff;
  fill: none;
  stroke-width: 1;